body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.error-msg{
	color:#f50;
	padding-left:10px;
	padding-top:10px;
}
.am-tab-bar{
	position: fixed;
	bottom: 0;
	width: 100%;
	height:auto;
}
.fixd-header.am-navbar{
	position: fixed;
	top: 0;
	width: 100%;
}
.page-content{
	padding:45px 5px;
}